.App {
  text-align: center;
}

.App-header {
  background-color: #b6b8bd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttons {
  display: flex;
  flex-direction: row;
  width:500px;
  align-items: center;
  justify-content: center;
}

.with-hook {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  justify-content: center;
  width:50%;
}

.with-class {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  justify-content: center;
  width:50%;
}

button {
  background-color: rgb(120, 120, 233);
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 15px;
  text-align: center;
  display: inline-block;
  font-size: 20px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
